@import '../../assets/scss/colors';
@import '../../assets/scss/flexbox';

.parallax {
    /* The image used */
    background: url("../../assets/img/home_bg_img/home_bg1x.jpg");
  
    /* Set a specific height */
    min-height: 100vh; 
    @include flexi(column, center, space-evenly);

  
    /* Create the parallax scrolling effect */
    background-attachment: fixed;
    background-position: 22%;
    background-repeat: no-repeat;
    background-size: cover;

-webkit-background-position: center;
-webkit-background-repeat: no-repeat;
-webkit-background-size: cover;

-moz-background-position: center;
-moz-background-repeat: no-repeat;
-moz-background-size: cover;

  }
  
 

  
  .parallax .title
  {
    display: flex;
    
    justify-content: center;
    height: 100vh;
    align-items: center;
    font-weight: 900;
    font-size: 3rem;
    text-shadow: 2px 1px 20px black;
    color: white;
  }
   
    .line-1{
      color: white;
      font-weight: 900;
    font-size: 3rem;
    text-shadow: 2px 1px 20px black;
      position: relative;
      top: 50%;  
      
      margin: 0 auto;
      border-right: 2px solid rgba(255,255,255,.75);
    
      text-align: center;
 
      overflow: hidden;
      transform: translateY(-50%);    
  }
  
  /* Animation */
  .anim-typewriter{
    animation: typewriter 4s steps(44) 1s 1 normal both,
               blinkTextCursor 500ms steps(44) infinite normal;
  }
  @keyframes typewriter{
    from{width: 0;}
    to{width: 100%;}
  }
  @keyframes blinkTextCursor{
    from{border-right-color: rgba(255,255,255,.75);}
    to{border-right-color: transparent;}
  }
 
  .home_btm
  {
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    margin-bottom: 30px;
    @include flexi(row, flex-end, space-around);
    flex-wrap: wrap;
  }




.home_btm_r
{
  width: 90%;
  text-align: center;
//margin-top: 20px;
  div
  {
    display: flex;
    justify-content: center;
    align-items: center;
    input[type="text"]
    {
      margin: 0px 14px;
      background-color: white;
      //text-align: center;
      border-radius: 40px;
      padding: 13px 30px 12px;
      max-width: 573px;
      &::placeholder
      {
        font-style: italic;
      }
    }
  }

}
 

@media only screen and (max-width: 500px)
{
  .parallax
  {
    background-attachment: scroll;
  }
  .home_btm_r
  {
    display: none;
  }
}