@import '../../../assets/scss/flexbox' ;

.about_s
{
    min-height: 0;
    .m_content
    {
        @include flexi(column);
    }
    .desc
    {
        text-align: center;
        line-height: 2;
        max-width: 100%;
    } 
       
    
}

.partners_logo
{
    @include flexi(row, center, space-evenly);
    flex-wrap: wrap;
    position: relative;
    margin: 40px auto;
    border-top: 2px solid gray;
    border-bottom: 2px solid gray;

    &::before
    {
        content: 'Trusted partners  ';
        position: absolute;
        top: 0;
        left: 0;
        font-size: 13px;
    }

}



@media screen and (min-width: 600px)
{
    .about_s
    {
        .desc{
            padding: 0 10%;
        }
    }
  
}